@page "/Booking/{id:int}"
@inject HttpClient Http
@using BookingHotel.Models

@if (booking == null)
{
    <p><em>Завантаження...</em></p>
}
else
{
    <div class="card m-2">
        <div class="card-body">
            <h6 class="card-title">Гість: @booking.GuestName</h6>
            <p class="card-subtitle">З: @booking.DateFrom.ToShortDateString()</p>
            <p class="card-subtitle">До: @booking.DateTo.ToShortDateString()</p>
            <p class="card-subtitle">Кімната: @booking.Room?.Number (@booking.RoomID)</p>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Booking? booking;

    protected override async Task OnInitializedAsync()
    {
        booking = await Http.GetFromJsonAsync<Booking>($"{Http.BaseAddress}/Booking/{Id}");
    }
}